 <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">栏目管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/admin/category/list">栏目列表</a></dd>
            <dd><a href="/admin/category/add">添加栏目</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">文章管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/admin/article/list">文章列表</a></dd>
            <dd><a href="/admin/article/add">添加文章</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">友情链接</a></li>
        <li class="layui-nav-item"><a href="">添加</a></li>
      </ul>
    </div>
  </div>